<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
      Visibilidade de pacotes: em vez de QUERY_ALL_PACKAGES, declaramos apenas o
      filtro que um launcher precisa. Isso cobre LauncherApps.getActivityList sem
      pedir a permissão de maior alcance do Android.
    -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>

        <!--
          Pacotes de ícones do formato aberto: as três ações que eles declaram há
          anos. Sem isso, queryIntentActivities não enxerga nenhum deles.
        -->
        <intent>
            <action android:name="org.adw.launcher.THEMES" />
        </intent>
        <intent>
            <action android:name="com.novalauncher.THEME" />
        </intent>
        <intent>
            <action android:name="com.gau.go.launcherex.theme" />
        </intent>
    </queries>

    <!--
      Permissão normal (concedida na instalação, sem diálogo): serve só para
      listar os apps do perfil privado do Android 15 quando ele está desbloqueado.
    -->
    <uses-permission
        android:name="android.permission.ACCESS_HIDDEN_PROFILES"
        android:minSdkVersion="35" />

    <application
        android:name=".CascataApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.Cascata">

        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:screenOrientation="nosensor"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Cascata.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
